name: {{ config.application }}
summary: {{ config.application.capitalize() }} charm using the operator framework, to be deployed on kubernetes.
description: A charm which deploys {{ config.application.capitalize() }} on kubernetes.
series:
  - kubernetes
resources:
  {{ config.application }}_image:
    type: oci-image
    description: Image used for the {{ config.application }} pod.
